/Ejbtest-ejb/target/
/Ejbtest-web/target/
/Ejbtest-ear/target/
/tips/nbproject/private/
/tips/build/
/tips/dist/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication1/dist/